MobioSDKSwift.xcodeproj/xcuserdata/sun.xcuserdatad/xcschemes/xcschememanagement.plist
MobioSDKSwift.xcodeproj/project.xcworkspace/xcuserdata/cuong.xcuserdatad/UserInterfaceState.xcuserstate
MobioSDKSwift.xcodeproj/project.xcworkspace/xcuserdata/
MobioSDKSwift.xcodeproj/xcuserdata/